@attribute [Route(Routes.Home)]

<h4 class="mt-3 mb-3">Jsem Adam, umělá inteligence postavená jako ukázka Azure OpenAI technologie. Odpovídám na otázky o společnosti HAVIT.</h4>
<HxRepeater Data="messages">
	<ItemTemplate Context="item">
		@if (item.Role == Contracts.Chat.ChatRoleStub.Assistant)
		{
			<p class="assistant-message">A: @item.Content</p>
		}
		else // user message
		{
			<p class="user-message">Q: @item.Content</p>
		}
	</ItemTemplate>
</HxRepeater>

<EditForm Model="@userMessageFormModel">
	<DataAnnotationsValidator />
	<HxInputText @ref="userMessageInputTextComponent" @bind-Value="userMessageFormModel.MessageText" />
	<HxSubmit Text="Odeslat" OnValidClick="HandleValidSubmit" Color="ThemeColor.Primary" Icon="BootstrapIcon.Send" />
</EditForm>
